<div class="banner" style="background-image: linear-gradient(to left, RGBA(96, 108, 136, 0.7) , RGBA(63, 76, 107, 0.7)), url('assets/cover_image.jpg');">
  <div class="banner-content">
    <div class="banner-content-pusher"></div>
    <div class="banner-content-title">
      <h1>Trouvez le meilleur <strong>courtier</strong> près de chez vous</h1>
    </div>
<!--     <div class="banner-content-subtitle">
      <p>Annuaire des courtiers, avis clients, meilleurs taux de crédit : toutes les infos pour bien choisir le partenaire de votre projet immobilier</p>
    </div> -->
    <%= form_tag(broker_agencies_path, method: :get, id: "home_page_search", class: "form-inline") do %>
      <div class="banner-content-cta">
        <div class="banner-content-cta-item">
          <%= label_tag :projet, "Je souhaite ", class: "banner-content-cta-item-label" %>&nbsp
        </div>
        <div class="banner-content-cta-item">
          <%= select_tag :projet, options_for_select(@user_wishes), class: "banner-content-cta-item-box" %>&nbsp
        </div>
        <div class="banner-content-cta-item">
          <%= label_tag :lieu, " à ", class: "banner-content-cta-item-label" %>&nbsp
        </div>
        <div class="banner-content-cta-item">
          <%= text_field_tag :lieu, nil, placeholder: "code postal, ville, département", autocomplete: "off", class: "banner-content-cta-item-box" %>&nbsp
<!--           <div class="autocomplete-anwsers-bloc">
            <ul class="autocomplete-answers-bloc-list">
              <li data-vicopo="#lieu" id="autocomplete-anwser-item">
                <strong data-vicopo-code-postal></strong>
                <span data-vicopo-ville></span>
              </li>
            </ul>
          </div> -->
        </div>
        <div class="banner-content-cta-item">
          <%= submit_tag("Rechercher un courtier", class: "banner-content-cta-item-button") %>
        </div>


      </div>
    <% end %>
  </div>

</div>




