<div class="footer">
  <div class="container">
    <div class="row">

      <div class="col-sm-3">
        <div class="footer-item">
          <p><strong>Nous contacter</strong></p>
          <%= link_to "Contact", "#" %> <br>
          <%= link_to "Partenariats", "#" %> <br><br>
          <%= link_to "#" do %>
            <i class="fa fa-twitter-square" aria-hidden="true"></i>
          <% end %>&nbsp&nbsp
          <%= link_to "#" do %>
            <i class="fa fa-facebook-square" aria-hidden="true"></i>
          <% end %>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="footer-item">
          <p><strong>A propos de hello-courtier</strong></p>
          <%= link_to "Mentions légales", "#" %> <br>
          <%= link_to "Qui sommes-nous ?", "#" %> <br>
          <%= link_to "CGU / CGV", "#" %> <br>
          <%= link_to "FAQ", "#" %> <br>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="footer-item">
          <p><strong>Vous avez un projet immobilier ?</strong></p>
          <%= link_to "Simulation de prêt immobilier", "#" %> <br>
          <%= link_to "Calculette capacité d'emprunt", "#" %> <br>
          <%= link_to "Annuaire des courtiers", "#" %> <br>
          <%= link_to "Baromètre des taux du crédit immobilier", "#" %> <br>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="footer-item">
          <p><strong>Vous êtes un courtier ?</strong></p>
          <%= link_to "Se connecter à l'espace courtier", "#" %> <br>
          <%= link_to "Devenir partenaire", "#" %> <br>
        </div>
      </div>

    </div>
  </div>
</div>
