<% content_for(:title) do %>
  Enrichissez les informations présentes sur la fiche de votre agence
<% end %>

<% content_for(:description) do %>
  Courtiers en crédit immobilier, meilleur taux crédit immobilier, négociation de crédit immobilier, rachat de crédit : l'annuaire des courtiers près de chez vous.
<% end %>

<div class="pusher_for_content"></div>



<% if current_broker %>

  <div class="broker-profile">

    <div class="broker-profile-column">
      <div class="broker-profile-column-title text-center">
        <h4>Mon profile</h4>
      </div>
      <div class="broker-profile-column-image text-center">
        <img src="http://loremflickr.com/100/100/portrait,miley,cyrus" alt="">
      </div>
      <div class="broker-profile-column-infos">
        <div class="broker-profile-column-infos-box">
          <div class="broker-profile-column-infos-box-item">
            <p>Prénom : <%= current_broker.first_name %></p>
          </div>
          <div class="broker-profile-column-infos-box-edit">
            <%= link_to edit_broker_registration_path do %>
              <p><i class="fa fa-pencil-square-o" aria-hidden="true" id="edit_icon"></i></p>
            <% end %>
          </div>
        </div>
        <div class="broker-profile-column-infos-box">
          <div class="broker-profile-column-infos-box-item">
            <p>Nom : <%= current_broker.last_name %></p>
          </div>
          <div class="broker-profile-column-infos-box-edit">
            <%= link_to edit_broker_registration_path do %>
              <p><i class="fa fa-pencil-square-o" aria-hidden="true" id="edit_icon"></i></p>
            <% end %>
          </div>
        </div>
        <div class="broker-profile-column-infos-box">
          <div class="broker-profile-column-infos-box-item">
            <p>Email : <%= current_broker.email %></p>
          </div>
          <div class="broker-profile-column-infos-box-edit">
            <%= link_to edit_broker_registration_path do %>
              <p><i class="fa fa-pencil-square-o" aria-hidden="true" id="edit_icon"></i></p>
            <% end %>
          </div>
        </div>
        <% if current_broker.phone_number == nil || current_broker.phone_number == "" %>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "broker-profile-column-infos-form" }) do |f| %>
            <%= f.hidden_field :first_name, { value: current_broker.first_name } %>
            <%= f.hidden_field :last_name, { value: current_broker.last_name } %>
            <%= f.hidden_field :email, { value: current_broker.email } %>
            <%= f.text_field :phone_number, placeholder: "Téléphone" %>
            <%= f.button type: "submit"  do %>
              <i class="fa fa-floppy-o" aria-hidden="true"></i>
            <% end %>
          <% end %>
        <% else %>
          <div class="broker-profile-column-infos-box">
            <div class="broker-profile-column-infos-box-item">
              <p>Téléphone : <%= current_broker.phone_number %></p>
            </div>
            <div class="broker-profile-column-infos-box-edit">
              <%= link_to edit_broker_registration_path do %>
                <p><i class="fa fa-pencil-square-o" aria-hidden="true" id="edit_icon"></i></p>
              <% end %>
            </div>
          </div>
        <% end %>
        <div class="password_change_label" id="password_change" >
          <p>Changer mon mot de passe</p>
        </div>
        <div class="hidden" id="password_change_fields" >
          <%= form_for(@broker, :url => { :action => "update_password" }, html: { class: "password_change_form" } ) do |f| %>
            <div class="password_change_form-fields">
              <div><%= f.password_field :password, :autocomplete => "off", placeholder: "Nouveau mot de passe" %></div>
              <%= f.password_field :password_confirmation, placeholder: "Confirmer le mot de passe" %>
            </div>
            <div class="password_change_form-button">
              <%= f.button type: "submit"  do %>
                <i class="fa fa-floppy-o" aria-hidden="true"></i>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="broker-profile-content">
      <div class="broker-profile-content-banner" style="background-image: linear-gradient(to left, RGBA(96, 108, 136, 0.1) , RGBA(63, 76, 107, 0.3)), url('assets/rues_de_paris_3.jpg');">
        <div class="broker-profile-content-banner-title text-center">
          <h1>Donnez un maximum de visibilité à votre agence !</h1>
        </div>
      </div>
<!--       <div class="broker-profile-content-layer">
        <div class="cta-transaction">
          <span>Créer une nouvelle agence</span>
        </div>
      </div> -->
      <% if @broker_agencies.size == 0 %>
        <div class="broker-profile-content-create_agency">
          <div class="broker-profile-content-create_agency-title">
            <h2>Créez la fiche de votre agence</h2>
          </div>
          <div class="broker-profile-content-create_agency-form">
            <%= form_for(@new_agency, url: broker_agencies_path, method: :post) do |f| %>
              <div class="broker-profile-content-create_agency-form-main">
                <div class="broker-profile-content-create_agency-form-main-group">
                  <div class="broker-profile-content-create_agency-form-main-group-right">
                    <%= f.label :name, "Nom de l'agence" %>
                  </div>
                  <div class="broker-profile-content-create_agency-form-main-group-left">
                    <%= f.text_field :name, placeholder: "Nom de l'agence" %>
                  </div>
                </div>
              </div>
              <div class="broker-profile-content-create_agency-form-main">
                <div class="broker-profile-content-create_agency-form-main-group">
                  <div class="broker-profile-content-create_agency-form-main-group-right">
                    <%= f.label :street, "Adresse" %>
                  </div>
                  <div class="broker-profile-content-create_agency-form-main-group-left">
                    <%= f.text_field :street, placeholder: "Adresse" %>
                  </div>
                </div>
                <div class="broker-profile-content-create_agency-form-main-group">
                  <div class="broker-profile-content-create_agency-form-main-group-right">
                    <%= f.label :zipcode, "Code postal" %>
                  </div>
                  <div class="broker-profile-content-create_agency-form-main-group-left">
                    <%= f.text_field :zipcode, placeholder: "Code postal" %>
                  </div>
                </div>
                <div class="broker-profile-content-create_agency-form-main-group">
                  <div class="broker-profile-content-create_agency-form-main-group-right">
                    <%= f.label :city, "Ville" %>
                  </div>
                  <div class="broker-profile-content-create_agency-form-main-group-left">
                    <%= f.text_field :city, placeholder: "Ville" %>
                  </div>
                </div>
              </div>

              <div class="broker-profile-content-create_agency-form-main">
                <div class="broker-profile-content-create_agency-form-main-group">
                  <div class="broker-profile-content-create_agency-form-main-group-right">
                    <%= f.label :phone_number, "Téléphone" %>
                  </div>
                  <div class="broker-profile-content-create_agency-form-main-group-left">
                    <%= f.text_field :phone_number, placeholder: "Téléphone" %>
                  </div>
                </div>
                <div class="broker-profile-content-create_agency-form-main-group">
                  <div class="broker-profile-content-create_agency-form-main-group-right">
                    <%= f.label :email, "Email de l'agence" %>
                  </div>
                  <div class="broker-profile-content-create_agency-form-main-group-left">
                    <%= f.email_field :email, placeholder: "Email" %>
                  </div>
                </div>
                <div class="broker-profile-content-create_agency-form-main-group">
                  <div class="broker-profile-content-create_agency-form-main-group-right">
                    <%= f.label :website, "Site internet" %>
                  </div>
                  <div class="broker-profile-content-create_agency-form-main-group-left">
                    <%= f.text_field :website, placeholder: "Site internet" %>
                  </div>
                </div>
              </div>

              <div class="broker-profile-content-create_agency-form-main">
                <div class="broker-profile-content-create_agency-form-main-group">
                  <div class="broker-profile-content-create_agency-form-main-group-right">
                    <%= f.label :description, "Description" %>
                  </div>
                  <div class="broker-profile-content-create_agency-form-main-group-left">
                    <%= f.text_area :description, placeholder: "Description", rows: 5 %>
                  </div>
                </div>
                <div class="broker-profile-content-create_agency-form-main-group">
                  <div class="broker-profile-content-create_agency-form-main-group-right">
                    <%= f.label :creation_year, "Année de création" %>
                  </div>
                  <div class="broker-profile-content-create_agency-form-main-group-left">
                    <%= f.number_field :creation_year, placeholder: "Date de création de l'agence" %>
                  </div>
                </div>
                <div class="broker-profile-content-create_agency-form-main-group">
                  <div class="broker-profile-content-create_agency-form-main-group-right">
                    <%= f.label :siret, "Numéro de SIRET" %>
                  </div>
                  <div class="broker-profile-content-create_agency-form-main-group-left">
                    <%= f.text_field :siret, placeholder: "N° de Siret" %>
                  </div>
                </div>
              </div>

              <div class="broker-profile-content-create_agency-form-main">
                <div class="broker-profile-content-create_agency-form-main-group">
                  <div class="broker-profile-content-create_agency-form-main-group-right">
                    <%= f.label :facebook_account, "Page Facebook" %>
                  </div>
                  <div class="broker-profile-content-create_agency-form-main-group-left">
                    <%= f.text_field :facebook_account, placeholder: "Facebook" %>
                  </div>
                </div>
                <div class="broker-profile-content-create_agency-form-main-group">
                  <div class="broker-profile-content-create_agency-form-main-group-right">
                    <%= f.label :twitter_account, "Twitter" %>
                  </div>
                  <div class="broker-profile-content-create_agency-form-main-group-left">
                    <%= f.text_field :twitter_account, placeholder: "Page Twitter" %>
                  </div>
                </div>
                <div class="broker-profile-content-create_agency-form-main-group">
                  <div class="broker-profile-content-create_agency-form-main-group-right">
                    <%= f.label :linkedin_account, "LinkedIn" %>
                  </div>
                  <div class="broker-profile-content-create_agency-form-main-group-left">
                    <%= f.text_field :linkedin_account, placeholder: "Page LinkedIn" %>
                  </div>
                </div>
              </div>

              <div class="broker-profile-content-create_agency-form-main">
                <div class="broker-profile-content-create_agency-form-main-group">
                  <div class="broker-profile-content-create_agency-form-main-group-gauche">
                    <%= f.label :expertise_id_1, "Expertise" %>
                  </div>
                  <div class="broker-profile-content-create_agency-form-main-group-centre">
                    <%= f.select :expertise_id_1, options_from_collection_for_select(@expertises, :id, :name, 19) %>
                  </div>
                  <div class="broker-profile-content-create_agency-form-main-group-droite">
                    <span id="add_an_expertise_1"><i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp Ajouter une expertise</span>
                  </div>
                </div>

                  <div class="broker-profile-content-create_agency-form-main-group hidden" id="expertise_group_1">
                    <div class="broker-profile-content-create_agency-form-main-group-gauche">
                      <%= f.label :expertise_id_2, "Expertise" %>
                    </div>
                    <div class="broker-profile-content-create_agency-form-main-group-centre">
                      <%= f.select :expertise_id_2, options_from_collection_for_select(@expertises, :id, :name, 20), {}, { disabled: true} %>
                    </div>
                    <div class="broker-profile-content-create_agency-form-main-group-droite">
                      <span id="add_an_expertise_2"><i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp Ajouter une expertise</span>
                    </div>
                  </div>

                  <div class="broker-profile-content-create_agency-form-main-group hidden" id="expertise_group_2">
                    <div class="broker-profile-content-create_agency-form-main-group-gauche">
                      <%= f.label :expertise_id_3, "Expertise" %>
                    </div>
                    <div class="broker-profile-content-create_agency-form-main-group-centre">
                      <%= f.select :expertise_id_3, options_from_collection_for_select(@expertises, :id, :name, 21), {}, { disabled: true}  %>
                    </div>
                    <div class="broker-profile-content-create_agency-form-main-group-droite">
                      <span id="add_an_expertise_3"><i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp Ajouter une expertise</span>
                    </div>
                  </div>

                  <div class="broker-profile-content-create_agency-form-main-group hidden" id="expertise_group_3">
                    <div class="broker-profile-content-create_agency-form-main-group-gauche">
                      <%= f.label :expertise_id_4, "Expertise" %>
                    </div>
                    <div class="broker-profile-content-create_agency-form-main-group-centre">
                      <%= f.select :expertise_id_4, options_from_collection_for_select(@expertises, :id, :name, 22), {}, { disabled: true}  %>
                    </div>
                    <div class="broker-profile-content-create_agency-form-main-group-droite">
                    </div>
                  </div>

              </div>

              <%#= fields_for @new_agency.expertises do |exp_form| %>
                <%#= exp_form.check_box :expertise_id %>
              <%# end %>

              <%#= f.collection_check_boxes(:expertise_id_1, @expertises, :id, :name) do |cb| %>
                <%#= cb.label(class: "checkbox-inline") { cb.check_box + cb.text } %>
              <%# end %>
              <%#= f.label :expertise_id_1, "Expertise" %>
              <%#= f.select :expertise_id_1, options_from_collection_for_select(Expertise.all, :id, :name) %>
              <%#= f.fields_for :expertise_id_1 do |cb| %>
                <%# @expertises.each do |exp| %>
                  <%#= cb.check_box(:expertise_1, {checked: true}, exp.id, nil) %>
                  <%#= exp.name %>
                <%# end %>
              <%# end %>





                <%#= f.label :expertise_ids, exp.name %>
                <!-- <p><%#= "Crédit Immobilier" %></p> -->
                <%#= f.check_box_tag :expertise_id_1, 19, checked: true %>
<!--                 <p><%#= "Renégociation de crédit" %></p>
                <%#= check_box_tag :expertise_id_2, 20, checked: true %>
                <p><%#= "Rachat de crédit" %></p>
                <%#= check_box_tag :expertise_id_3, 21, checked: true %>
                <p><%#= "Investissement locatif" %></p>
                <%#= check_box_tag :expertise_id_4, 22, checked: true %> -->
              <%#= f.fields_for :broker_agency_expertises do |exp| %>
                <%#= exp.label :expertise_id, "Expertise" %>
                <%#= exp.select :expertise_id, options_from_collection_for_select(Expertise.all, :id, :name) %>
              <%# end %>

              <div class="broker-profile-content-create_agency-form-button cta-transaction large_button text-center">
                <%= f.button "Valider" %>
              </div>


            <% end %>
          </div>
        </div>
      <% else %>
        <% @broker_agencies.each do |agency| %>
          <div class="broker-profile-content-show_agency">
            <div class="broker-profile-content-show_agency-title">
              <h2><%= agency.name %></h2>
            </div>
            <div class="broker-profile-content-show_agency-contacts">
              <p>Coordonnées</p>
              <ul>
                <li>Adresse : <%= agency.complete_adress %></li>
                <li>N° de téléphone : <%= agency.phone_number %></li>
                <li>Site internet : <%= agency.website %></li>
                <li>Email de contact : <%= agency.email %></li>
              </ul>
            </div>

            <div class="broker-profile-content-show_agency-social">
              <p>Réseaux sociaux</p>
              <ul>
                <li>Facebook : <%= agency.facebook_account %></li>
                <li>Twitter : <%= agency.twitter_account %></li>
                <li>LinkedIn : <%= agency.linkedin_account %></li>
              </ul>
            </div>

            <div class="broker-profile-content-show_agency-description">
              <p>Description</p>
              <ul>
                <li>Année de création : <%= agency.creation_year %></li>
                <li>Numéro de Siret : <%= agency.siret %></li>
                <li>Description : <%= agency.description %></li>
              </ul>
            </div>



          </div>
        <% end %>



      <% end %>





    </div>
  </div>
<% end %>






